body {
font-family: Verdana, Geneva, sans-serif;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
}
#box{
background-color: #1C86EE;
height: 285px;
width: 100%;
margin-top: 0;
font-family: futura, helvetica sans-serif;
font-size: 72pt;
text-align: center;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: auto;
margin-bottom: auto;
}

button{
height: 100px;
width: 200px;
border-style: none;
background-color: #1C86EE;
border-radius: 100px;
font-size: 28px;
text-align: center;
margin-top: 25px;
margin-right: auto;
margin-left: auto;
font-family: Futura, Geneva, Verdana sans-serif;
}
.sectionheader{
    font-family: futura, Verdana, sans-serif;
}
div#container {
width: 100%;
margin-right: auto;
margin-left: auto;
align: center;

}
#resumename{
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	margin-right: auto;
	margin-left: auto;
}
#resume{
	width: 87%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 16px;
}
#about{
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 16px;
}
button:hover{
background-color: #1C86EE;
opacity: 0.5;
}
.ressection{
	list-style: none;
	color: #D63E94;
	font-weight: bolder;
	font-size: 24px;
	font-style: underline;
} 
.position{
	list-style: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
}
.duties{
	color: black;
	font-weight: normal;
	font-family: Verdana, Garamond, sans-serif;
	font-size: 16px;
}
.hide{
display: none;
width: 95%;
font-family: Helvetica, Verdana, Geneva, sans-serif;
margin-right: auto;
}